html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 20px;
	margin-bottom: 50px;
}

.navbar {
	margin-bottom: 20px;
}

.jumbotron {
	padding: 0.9em 0.9em;
}

#jHeader {
	font-size: 50px;
}

#myFile {
	display:none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #f5f5f5;
}


#loginNav {
	display:none;
}

#logoutNav {
	display:inline;
}