body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
}

.jumbotron {
	padding: 0.9em 0.9em;
}

#jHeader {
	font-size: 50px;
}

#myFile {
	display:none;
}

#loginNav {
	display:none;
}

#logoutNav {
	display:inline;
}